html
    head
        link(rel="stylesheet", href="/styles/app.css")
        script(src="/lib/app.js")
        script(src="/lib/widget.vue")
    body
        div#test-page
            .test-block Test Page