extend ./test.parent.pug

block mainContent
    div#test
        | 123
        p #{testVar}
    style
        :stylus
            div
                color red
    script
        :typescript
            const a = Date.now()

    include ./test.included.pug